{% extends "tease.twig" %}

{% block content %}
	<div class="tease-header">
		<span class="author">
			{{ __('Le', 'tompress') }}
			{{ post.date }}
		</span>
	</div>
	{% if(post.format() == 'video') %}
		{% if post.meta('tompress_featured_video') is not empty %}
			<div class="featured-video">
				<iframe src="{{ post.meta('tompress_featured_video') }}" width="100%" height="381" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
		{% endif %}
	{% else %}
		{% if post.thumbnail.src %}
			<div class="post-thumbnail">
				<img class="post-thumbnail-img" src="{{ post.thumbnail.src }}" alt="{{ post.title }}"/>
			</div>
		{% endif %}
	{% endif %}
	<h2 class="h2">
		<a href="{{ post.link }}">{{ post.title }}</a>
	</h2>
	<p>{{ post.preview.length(25).read_more('Lire la suite') }}</p>
{% endblock %}
