{% if posts.pagination.pages is not empty %}
  <nav class="pagination-block">
    <ul class="pagination">

      {# Previous #}
      {% if posts.pagination.prev %}
        <li class="prev btn">
          <a href="{{ posts.pagination.prev.link }}">Précédent</a>
        </li>
      {% else %}
        <li class="prev btn disabled">
          <button disabled>Précédent</button>
        </li>
      {% endif %}

      {# Pages #}
      {% for page in posts.pagination.pages %}
        {% if page.link %}
          <li>
            <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
          </li>
        {% else %}
          <li class="current">
            <span class="{{ page.class }}">{{ page.title }}</span>
          </li>
        {% endif %}
      {% endfor %}

      {# Next #}
      {% if posts.pagination.next %}
        <li class="next btn">
          <a href="{{ posts.pagination.next.link }}">Suivant</a>
        </li>
      {% else %}
        <li class="next btn disabled">
          <button disabled>Suivant</button>
        </li>
      {% endif %}

    </ul>
  </nav>
{% endif %}
