<div class="header-social-link">
  <ul>
    {% if theme_options.facebook %}
      <li><a href="{{ theme_options.facebook }}" title="facebook" class="facebook"><i class="fab fa-facebook-f-in"></i></a></li>
    {% endif %}
    {% if theme_options.twitter %}
      <li><a href="{{ theme_options.twitter }}" title="twitter" class="twitter"><i class="fab fa-twitter"></i></a></li>
    {% endif %}
    {% if theme_options.pinterest %}
      <li><a href="{{ theme_options.pinterest }}" title="pinterest" class="pinterest"><i class="fab fa-pinterest-p"></i></a></li>
    {% endif %}
    {% if theme_options.instagram %}
      <li><a href="{{ theme_options.instagram }}" title="instagram" class="instagram"><i class="fab fa-instagram"></i></a></li>
    {% endif %}
    {% if theme_options.linkedin %}
      <li><a href="{{ theme_options.linkedin }}" title="linkedin" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
    {% endif %}
  </ul>
</div>
